prueba/Connected Services/ServicioA/ServicioA1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56125/ServicioA.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioA" />
  <xs:element name="ObtenerComic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdPer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioA" minOccurs="0" name="ObtenerComicResult" nillable="true" type="q1:Comic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>